* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Noto Sans KR", sans-serif;
	color: aliceblue;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	column-gap: 50px;
	position: relative;
}

h2 {
	font-size: 150px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 10px;

	padding-top: 100px;
}

#login-form {
	padding-bottom: 0;
}

#login-form input {
	width: 300px;
	height: 40px;
	font-size: 24px;
	text-align: center;
	color: aliceblue;
	outline: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1px;
	border-color: aliceblue;
	background: none;
	font-weight: 500;
}

h1 {
	font-size: 64px;
}

#todo-form input {
	width: 500px;
	height: 40px;
	font-size: 24px;
	font-weight: 500;
	color: aliceblue;
	text-align: center;
	outline: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1px;
	border-color: aliceblue;
	background: none;
}

ul {
	list-style-type: none;
}

li {
	font-size: 20px;
	font-weight: 500;

	text-align: center;
	display: flex;
	justify-content: space-between;
}

#todo-list span {
	padding-right: 20px;
	font-size: 32px;
}
#todo-list button {
	font-size: 20px;

	font-weight: 700;
	cursor: pointer;
	text-align: center;
	outline: 0;
	border: 0;

	background: none;
}

.others {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10px;
	right: 20px;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 8px;
}

i {
	font-size: 24px;
}
div #weather {
	font-size: 16px;
}

#quote {
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: 500;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

#owner {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 12px;
	color: darkgray;
}
.hidden {
	display: none;
}
